<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card text-center">
            <div class="card-body">
                  <img [src] = 'product.imageUrl' alt="Image is here">
                  <p class="card-text">{{product.productName}}</p>
                  <p class="card-text">{{product.price}}</p>
                  <a (click)='addtocart(product._id)' class="btn btn-success">BUY</a>
            </div>
            
        </div> 
    </div>
</div>
