<div class="card">
    <form (ngSubmit)="AddUser()" class="form" #userRegister="ngForm">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        
                        <tr>
                            <td><label>Email</label></td>
                          <td><input type="text" name="email" [(ngModel)]="newUser.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control rounded-0" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></td>
                          <td><small class="text-danger" [class.d-none]="email.valid || email.touched">Enter valid email</small></td>
                        </tr>
                        <tr>
                            <td><label>Password</label></td>
                          <td><input type="password" name="password" [(ngModel)]="newUser.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" class="form-control rounded-0" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}$" required></td>
                          <td><small class="text-danger" [class.d-none]="password.valid || password.touched">Password must contain an uppercase,a lowercase,a digit and minimum 8 characters</small></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" [disabled]="userRegister.form.invalid" class="btn btn-primary">Signup</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>